
body {
    width: 100%;
    font-family: 'Helvetica', serif; 
    margin: 0;
    text-transform: uppercase;
    padding-bottom:100px;
   
    

}

html {
     background-color: #fff2e6;
}

.storebackground {
    background-color: #fff2e6;
   
}

.donatebackground {
    background-color: #fff2e6;
}

/*Nav Bar*/

#navbar ul {
    z-index: 1;
    top: 0;
    list-style-type: none;
    position: fixed;
    padding-left: 100px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    
}

#navbar li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
    font-size: 30px;
}

#kanyehead {
    width: 100px;
    position: fixed;
    left: 11px;
    top: -4px;
    z-index: 2;
}

#voteheader {
    position: fixed;
    z-index: 2;
    left: 1000px;
    top: 11px;
    color: white;
}

#yeezy {
    position: fixed;
    z-index: 3;
    left: 1050px;
    top: -20px;
    width: 200px;
}

#kanyehead:hover {
    animation-name: headshake;
    animation-duration: 2s;
}

#home:hover {
    color: black;
    text-decoration: none;
    animation-name: transition;
    animation-name: grow;
    animation-duration: 1s;
}

#store:hover {
    color: black;
    text-decoration: none;
    animation-name: transition;
    animation-name: grow;
    animation-duration: 1s;
}

/*#donate:hover {
    color: black;
    text-decoration: none;
    font-family: 'Merriweather', serif; }*/
li a:hover {
/*    background-color: #111;*/
     animation-name: transition;
    animation-name: grow;
    animation-duration: 1s;
}


.img {
    width: 200px;
    
    height: 200px;
    text-align: center;
}



.shop {
    
    width: 200px;
    height:200px;
    margin-top: 15px;
    display: inline-block;
    margin-left: 100px;
    position:relative;
    left: 13.0%;
    padding-bottom: 20px;
    
}

.paragraph{
    width: 200px;
    margin-left: 35px;
    color: #fb9084;
    color:grey;
    text-transform: capitalize;
    font-family: 'PT Sans Narrow', sans-serif;
    overflow: hidden;



}
.text {
    
    position: absolute;
    top: 120%;
    margin-bottom: 100px; 
    overflow: hidden;
    }

#shirts {
 color: grey;
 margin-top:  80px;
 text-align: center;
 font-size: 50px;
 position: relative;
 top:120px;

} 
   

   
    



#kanye{

    width:100%;
    height: 500px;
    text-align: 400px;
    margin: auto 0;
}
.atop {
    margin-top: 200px;
    position:relative;
}

.atop:hover{
    border-bottom: 4px solid #80aaff;
}

#header {
    text-align: center;
    color:#80aaff;
    margin-top: 160px;
    font-size: 40px;
    font-family: 'Bree Serif', serif;
}

#head{
    margin-top: 90px;
    text-align: center;
    color:#fb9084;
    font-size: 40px;
    font-family: 'Bree Serif', serif;
}

@keyframes headshake {
    0% {
        transform: rotate(0deg);
         -webkit-transform: rotate(0deg)
    }
    15% {
        transform: rotate(15deg);
         -webkit-transform: rotate(15deg)
    }
    30% {
        transform: rotate(-15deg);
         -webkit-transform: rotate(-15deg)
    }
    45% {
        transform: rotate(15deg);
         -webkit-transform: rotate(15deg)
    }
    
    60% {
        transform: rotate(-15deg);
         -webkit-transform: rotate(-15deg)
    }
    75% {
        transform: rotate(15deg);
         -webkit-transform: rotate(15deg)
    }
    90% {
        transform: rotate(-15deg);
         -webkit-transform: rotate(-15deg)
    }
    100% {
        transform: rotate(0deg);
         -webkit-transform: rotate(0deg)
    }
}

@keyframes transition {
    0% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes grow {
    0% {
        font-size: 28px;
    }
    100% {
        font-size: 30px;
    }
}

#blue {
    width: 100%;
    height: 370px;
    background-color: #80aaff;
    position: relative;
}

#blue h1 {
    font-size: 100px;
    top: 120px;
    left: 140px;
    position: absolute;
}

#hillaryhead {
    position: absolute;
    left: 1000px;
    top: 150px;
    width: 200px;
}

#hillaryhead:hover {
    animation-name: headshake;
    animation-duration: 2s;
}

#red {
    width: 100%;
    height: 280px;
    background-color: #fb9084;
}

#red h1 {
    font-size: 100px;
    top: 400px;
    left: 300px;
    position: absolute;
}

#trumphead {
    position: absolute;
    left: 80px;
    top: 420px;
    width: 200px;
}

#trumphead:hover {
    animation-name: headshake;
    animation-duration: 2s;
}

#white {
    height: 1100px;
    width: 100%;
    background-color: #fff2e6;
}

#kanyeangry {
    position: absolute;
    width: 350px;
    top: 760px;
    left: 790px;
}

#kanyewords h1 {
    margin-left: 200px;
    width: 300px;
    position: absolute;
    top: 800px;
}

#kanyepoints {
    position: absolute;
    top: 750px;
    left: 160px;
    padding-top: 100px;
    font-size: 30px;
}

#kanyepoints li {
    list-style-image: url(images/kanyeheadcopy.png);

}

#kanyevideo {
    position: relative;
    top: 700px;
    left: 300px;
}

#kanye {
    position: absolute;
    top: 100px;
}

.cheatsheet {
    color: #80aaff;
    margin-left: 35px;
    font-family: 'Bree Serif', serif;
    color:red;
}


#hthree {
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 15px;
}
 #htwo{

    color: white;
    padding-top: 30px;
}
.form {
    width: 30%;
    height: 450px;
    display: inline-block;
    margin: 80px auto;
    position: relative;
    overflow: hidden;
    padding-top:110px;
    margin-left: 180px;
    margin-top: 150px;
    background-color: white;
    box-shadow:0 0 10px grey;
    right:500px;

}
.top {
    width: 100%;
    height:130px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    background-color: #80aaff;

}

#one, #two, #three  {
    width: 23%;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    margin: 10px auto;
    margin-left: 23px;
    background-color: #999;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    box-shadow: 2px 2px #999;
}
 
#four {
    width: 54%;
    height: 53px;
    border:2px solid #999;
    padding-top: 0px;
    color: grey;
    margin-top: 12px;
    margin-left: 26px;
    background-color: white;
}
#last {
    width: 45%;
    height: 40px;
    margin-top: 40px;
    margin-left:100px;
    background-color: #80aaff;
    border:2px solid #80aaff;
    padding-top: 15px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
}
#four, #last {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

input {
    width: 97%;
    height: 47px;
    margin-top: 0;
    font-size: 20px;
    color: grey;
    font-style: italic;

}
#one:hover, #two:hover, #three:hover, #last:hover {
    
    background-color: #fb9084;
    border-color: #fb9084;
    color: white;
    transition: All 0.5s ease;

}
footer {
    width: 100%;
    height: 50px;
    background-color: #fb9084;
   
    text-align: center;
    /*font-family: 'Merriweather', serif;*/
    margin: 0;
    padding-top: 10px;
    color: white;
    position: relative;
    top:150px;
}
#main {
    background:url(http://www.popologynow.com/wp-content/uploads/2015/03/kanye-west-talks-creativity-and-genius-in-gq-cover-shoot-directors-cut-01.jpg) center center no-repeat;*/
    background-color: #fb9084;
    text-align: center;
   /* font-family: 'Merriweather', serif;*/
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0px;
    color: white;
    clear:both;

}
#main {

    background:url(http://www.popologynow.com/wp-content/uploads/2015/03/kanye-west-talks-creativity-and-genius-in-gq-cover-shoot-directors-cut-01.jpg) center center no-repeat;
}
#foot {
    position: relative;
    top:250px;
    width: 100%;
    height: 50px;
    background-color: #fb9084;
    text-align: center;
    /*font-family: 'Merriweather', serif;*/
    margin: 0;
    padding-top: 10px;
    color: white;
    
}