body {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Helvetica', serif; 
    margin: 0;
}

/*Nav Bar*/

#navbar ul {
    z-index: 1;
    list-style-type: none;
    position: fixed;
    padding-left: 100px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
}

#navbar li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
    font-size: 30px;
}

#kanyehead {
    width: 100px;
    position: fixed;
    left: 11px;
    top: -4px;
    z-index: 2;
}

#voteheader {
    position: fixed;
    z-index: 2;
    left: 1000px;
    top: 11px;
    color: white;
}

#yeezy {
    position: fixed;
    z-index: 3;
    left: 1050px;
    top: -20px;
    width: 200px;
}

#kanyehead:hover {
    animation-name: headshake;
    animation-duration: 2s;
}

#home:hover {
    color: black;
    text-decoration: none;
    animation-name: transition;
    animation-name: grow;
    animation-duration: 1s;
}

#store:hover {
    color: black;
    text-decoration: none;
    animation-name: transition;
    animation-name: grow;
    animation-duration: 1s;
}

#donate:hover {
    color: black;
    text-decoration: none;
<<<<<<< HEAD
    font-family: 'Merriweather', serif; }
li a:hover {
    background-color: #111;
     animation-name: transition;
    animation-name: grow;
    animation-duration: 1s;
}


img {
    width: 200px;
    
    height: 200px;
    text-align: center;
}



.shop {
    
    width: 200px;
    height:200px;
    margin-top: 50px;
    display: inline-block;
    margin-left: 100px;
    
}




}

.paragprah{
    width: 200px;
}
.text {
    position: relative;
    left:50px;
    text-align: justify;
}

.button {border: none;
color:white;
padding:15px 80px;
text-align:center;
text-decoration:none;
display:inline-block;
font-size:16px;
margin-left:  20px;
cursor: pointer;
background-color: red;
float: left;
clear:both;
margin-top: 10px;


}

#kanye{

    width:1000px;
    height: 500px;
    text-align: 400px;
    margin: auto 0;
}
.top {
    margin-top: 50px;

}
#header {
    text-align: center;
    color:blue;
    margin-top: 50px;
}

#head{
    text-align: center;
    color:red;
}


@keyframes headshake {
    0% {
        transform: rotate(0deg);
         -webkit-transform: rotate(0deg)
    }
    15% {
        transform: rotate(15deg);
         -webkit-transform: rotate(15deg)
    }
    30% {
        transform: rotate(-15deg);
         -webkit-transform: rotate(-15deg)
    }
    45% {
        transform: rotate(15deg);
         -webkit-transform: rotate(15deg)
    }
    }
    60% {
        transform: rotate(-15deg);
         -webkit-transform: rotate(-15deg)
    }
    75% {
        transform: rotate(15deg);
         -webkit-transform: rotate(15deg)
    }
    90% {
        transform: rotate(-15deg);
         -webkit-transform: rotate(-15deg)
    }
    100% {
        transform: rotate(0deg);
         -webkit-transform: rotate(0deg)
    }
}

@keyframes transition {
    0% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes grow {
    0% {
        font-size: 28px;
    }
    100% {
        font-size: 30px;
    }
}

#blue {
    width: 100%;
    height: 370px;
    background-color: #80aaff;
    position: relative;
}

#blue h1 {
    font-size: 100px;
    top: 120px;
    left: 140px;
    position: absolute;
}

#hillaryhead {
    position: absolute;
    left: 1000px;
    top: 150px;
    width: 200px;
}

#hillaryhead:hover {
    animation-name: headshake;
    animation-duration: 2s;
}

#red {
    width: 100%;
    height: 280px;
    background-color: #fb9084;
}

#red h1 {
    font-size: 100px;
    top: 400px;
    left: 300px;
    position: absolute;
}

#trumphead {
    position: absolute;
    left: 80px;
    top: 420px;
    width: 200px;
}

#trumphead:hover {
    animation-name: headshake;
    animation-duration: 2s;
}

#white {
    height: 1100px;
    width: 100%;
    background-color: #fff2e6;
}

#kanyeangry {
    position: absolute;
    width: 350px;
    top: 760px;
    left: 790px;
}

#kanyewords h1 {
    margin-left: 200px;
    width: 300px;
    position: absolute;
    top: 800px;
}

#kanyepoints {
    position: absolute;
    top: 750px;
    left: 160px;
    padding-top: 100px;
    font-size: 30px;
}

#kanyepoints li {
    list-style-image: url(images/kanyeheadcopy.png);

}


